.text {
    font-weight: 700;
    margin-bottom: 8px;
}

.area {
    max-width: 677px;
    min-width: 100%;
    min-height: 160px;
    outline: 0;
    border: 0.5px solid #B8BFC2;
    border-radius: 3px;
    padding: 16px;
    font-size: 16px;
    font-family: 'Oxygen';
}