.list {
    background-color: #F2F2F2;
    border-radius: 3px;
    padding: 16px 8px;
    margin-bottom: 8px;

    &__inputs {
        display: grid;
        grid-template-columns: 65% 15% 15%;
        justify-content: space-between;
        

        label {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }
        input {
            font-size: 16px;
            border: 0.5px solid #B8BFC2;
            border-radius: 5px;
            margin-top: 8px;
            padding: 8px;
            outline: 0;

        }

        &_larger {
            flex-grow: 1;
        }

        &_smaller {
            flex-basis: 10%;
        }
    }

    &__btns {
        display: flex;
        justify-content: end;
        margin-top: 8px;

        button {
            display: flex;
            align-items: center;
            border-radius: 3px;
            padding: 8px;
            border: none;

            p {
                margin-left: 8px;
            }
        }

        &_add {
            background-color: #1D0626;
            color: #FFF;
            margin-left: 8px;
            transition: ease-in-out 0.1s;
        }

        &_remove {
            background-color: #D64D4D;
            color: #FFF;
            transition: ease-in-out 0.1s;
        }

        &_remove:hover,
        &_add:hover {
            opacity: 0.8;
            cursor: pointer;
        }

    }
}