.formGroup {
    margin-top: 16px;
    
    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    &__children {
        column-gap: 16px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: 16px;
        row-gap: 16px;
    }
}

