.list {
    margin-top: 16px;
    border: solid 1px #d6d6d6;  
    border-radius: 10px;
    width: 100%;

    &__header {
        text-align: left;
        border-bottom: solid 2px #272727;

        th {
            font-size: 16px;
            padding: 8px;
            font-weight: 600;
        }
    }
}