.container {
    display: flex;
    padding: 16px 24px;
    background-color: #1d0626;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    
    li {
        margin-left: 16px;
    }
}